<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>{{site.author}}</h2>
    <p>{{site.about-author3}}</p>
    <ul>
      {% if site.instagram %}
        <li class="instagram"><a href="https://instagram.com/{{site.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
      {% else %}
        <li class="instagram"><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.linkedin %}        	
        <li class="linkedin"><a href="https://linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>	
      {% else %}	
        <li class="linkedin"><a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>	
      {% endif %}
      {% if site.github %}        	
        <li class="github"><a href="https://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>	
      {% else %}	
        <li class="github"><a href="https://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>	
      {% endif %}
      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="https://escapethex.netlify.app" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}
    </ul>
  </div>
</section>
